@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Automation Testing</h2>
    <p>This section contains several Automation projects written in both C# and Java</p>

</div>
<br />
<div class="autoContainer">
    <div class="autoCol">
        <div id="java">
            <img class="autoImage" src="~/Content/Images/Automation/Java.bmp" />
        </div>
        <div class="autoText" style="vertical-align: text-top;">
            INSERT GITHUB LOCATION HERE <br /> <br /> This Automation solution is a basic Selenium example with tests written in a normal manner. This test suite runs on Chrome and Firefox
        </div>
    </div>
    <div class="autoCol">
        <div  id="cSharp">
            <img class="autoImage" src="~/Content/Images/Automation/cSharp.bmp" />
        </div>
        <div class="autoText" style="vertical-align: text-top;">
            INSERT GITHUB LOCATION HERE <br/> <br/> This Automation solution is a more complex Selenium example with tests written in a BDD manner using the Visual Studio extension Specflow. This test suite runs on Chrome and Firefox
        </div>
    </div>
</div>


<br />

