@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This website has been created to provide a demonstration of proof of concept and personal projects stored on GitHub</p>
<br/>
<h2>Contact Details</h2>
<p>Matthew Leviny</p>
<p >LinkedIn - <a href="https://www.linkedin.com/in/matthew-leviny/">Matthew Leviny</a> </p>
<p>GitHub - <a href="https://github.com/SimplySimo">SimplySimo</a> </p>