@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This website has been created to provide a demonstration of proof of concept and personal projects stored on GitHub</p>

<p><b>Matthew Leviny</b></p>
<p>
    Developer/Engineer with a degree in computer and network engineering, covering code development for hardware and network administration. Self-starter who likes to be challenged and learn.

    Experience with coding, supporting and testing business-critical application systems and automation test frameworks. Experienced and adaptable, systematic, pragmatic. Factor in systems, people, tradition, new ideas/technology to come up with new or improved solutions.
    Establish contacts and develop solid, trusted, working relationships; respect and use other’s knowledge and expertise
    Bespoke solutions, Database knowledge, ability to extract data for specified testing. Datasets. Re-imagined solutions. Verification. Time reductions. Automated modular design. Re-platforming.
</p>
<br />
<h2>Contact Details</h2>

<p>LinkedIn - <a href="https://www.linkedin.com/in/matthew-leviny/">Matthew Leviny</a> </p>
<p>GitHub - <a href="https://github.com/SimplySimo">SimplySimo</a> </p>