@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="homeContainer">
    <div class="bodyRow">
        <h2>Matthew's Portfolio Website</h2>
        <h3>Currently under construction</h3>
    </div>
    <div class="bodyRow">
        <div class="bodyColumn">

            <a class="imageDiv imageText" id="parkingSensors" href='@Url.Action("ParkingSensors", "ParkingSensors")'>
                <p id="imageText">Parking Sensors</p>
            </a>
        </div>
        <div class="bodyColumn">
            <a class="imageDiv" id="bikeShare" href='@Url.Action("BikeShare", "BikeShare")'>
                <p id="imageText">Melbourne Bike Share - Under Construction</p>
            </a>
        </div>
    </div>
    <div class="bodyRow">
        <div class="bodyColumn">
            <a class="imageDiv" id="automationTesting" href='@Url.Action("AutomationTesting", "AutomationTesting")'>
                <p id="imageText">Automation Testing</p>
            </a>
        </div>
        <div class="bodyColumn">
            <a class="imageDiv" id="problemSolving" href='@Url.Action("ProblemSolving", "ProblemSolving")'>
                <p id="imageText">Code Challenges</p>
            </a>
        </div>
    </div>
</div>