@model System.Collections.Generic.List<DataAccess.ParkingSensors.Model.ParkingData>

@{
    ViewBag.Title = "Parking Sensors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    Contains information from in-ground car parking bay sensors across the city with status indicating if a car is present or not present, the spatial coordinate of the sensor, and the street marker id.
</p>

<p>please note - 	Parking Sensors are not operational on Public Holidays. Parking Sensors will show car parks as vacant when blocked by construction zones. </p>
<div>
    <div class="parkingButtonContainer">

        <input type="button" id="btnClick" class="parkingButton" value="Refresh" />
        <input type="button" id="btnHide" class="parkingButton" value="Hide Table" />

    </div>
    <div id="divTest">

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    $('#btnClick').click(function () {
        $('#divTest2').remove();
        $('#divTest').show();
        $.get('@Url.Action("Refresh", "ParkingSensors")', {}, function (model) {
            $("#divTest").html(model);
        });
    });
    $('#btnHide').click(function () {
        $('#divTest').hide();
    });
</script>