body {
    padding-top: 120px;
    background: lightgray;
    padding-bottom: 120px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20%;
    padding-right: 20%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

.main-nav {
    height: 6em;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px 16px;
    background-color: black;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 10;
}

.small {
    height: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.main-nav-buttonContainer {
    height: 100%;
    padding-left: 20%;
}

.ButtonNavGroup {
    background-color: black;
    color: lightgray;
    border: 2px solid black;
    height: 100%;
    width: 10em;
}

    .ButtonNavGroup:hover {
        color: white;
        border-bottom: 2px solid white;
    }

.ButtonNavGroupLogo {
    background-color: black;
    color: lightgray;
    border: 2px solid black;
    height: 100%;
    width: 10em;
}

.homeContainer {
    height: 100%;
    width: 100%;
}

.IntroContent {
    display: block;
    height: 10em;
}

.bodyRow {
    display: block;
    height: 20em;
    vertical-align: top;
}

.bodyColumn {
    display: inline-block;
    width: 49%;
    height: 100%;
    border: none;
    padding-right: 0.5em;
    padding-left: 0.5em;
    animation: none;
}

.imageDiv {
    object-fit: cover;
    width: 100%;
    height: 95%;
    overflow: hidden;
    padding-bottom: 3px;
    border-radius: 30px;
    opacity: 0.9;
    display: inline-block;
    vertical-align: top;
    z-index: auto;
}

    .imageDiv:hover {
        opacity: 1;
    }

#parkingSensors {
    background-size: cover;
    background-image: url('Images/parking.bmp');
}

#ptv {
    background-size: cover;
    background-image: url('Images/train.bmp');
}

#bikeShare {
    background-size: cover;
    background-image: url('Images/bikeshare.bmp');
}

#pedestrians {
    background-size: cover;
    background-image: url('Images/pedestrians.bmp');
}

#automationTesting {
    background-size: cover;
    background-image: url('Images/automationTesting.bmp');
}

#problemSolving {
    background-size: cover;
    background-image: url('Images/problemSolving.bmp');
}

#imageText {
    padding-top: 2%;
    padding-bottom: 2%;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    margin: 0;
    font: 30px Sans-Serif;
}

/*PARKING DETAILS*/
.parkingButtonContainer {
    color: white;
    height: 4em;
    width: 100%;
    display: inline-block;
    height: 100%;
}

.parkingButton {
    background-color: grey;
    color: lightgray;
    border: 2px solid black;
    height: 100%;
    width: 10em;
    border-radius: 4px;
}

#SearchParking {
    background-image: url('Images/searchIcon.png');
    -ms-background-size: 28px 28px;
    background-size: 28px 28px;
    -ms-background-position: 10px,10px;
    background-position: 10px,10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

/*Problem Solving*/


/*Automation*/
.autoContainer {
    display: table;
    width: 100%;
}

.autoCol {
    display: table-cell;
    height: 100%;
    width: 20%;
}

.autoImage {
    -webkit-object-fit: cover;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    height: 20em;
    padding-bottom: 3em;
}

.autoText {
    padding: 1em;
}